body {
  font-family: system-ui, sans-serif;
  margin: 40px;
  background-color: #f5f5f5;

  /* 背景画像を指定 */
  background-image: url("./images/ヨ―カワリ.jpg");
  background-size: cover;      /* 画面いっぱいに拡大縮小 */
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat;/* 繰り返さない */

}

h1 {
  color: #007acc;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #005fa3;
}
